<!DOCTYPE html>
<html lang="en">

<body class="bg-light">
    <div class="container">
    <div class="py-5 text-center">
        <h2>Edit Password</h2>
    </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="changeForm" (ngSubmit)="changePassword()" *ngIf="userEmail">

                <!-- email -->

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" 
                    class="form-control" [disabled]=true [value]=userEmail>
                </div>

                <!-- password -->

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" 
                    [ngClass]="{'is-invalid': changeForm.get('password').errors
                    && changeForm.get('password').touched}"
                    class="form-control" placeholder="Password" formControlName="password">
                
                    <div class="invalid-feedback" 
                    *ngIf="changeForm.get('password').hasError('required')
                    && changeForm.get('password').touched">Password is required
                    </div>
                
                    <div class="invalid-feedback" 
                    *ngIf="changeForm.get('password').hasError('minlength')
                    && changeForm.get('password').touched">Password must be at least 4 characteres
                    </div>
                
                    <div class="invalid-feedback" 
                    *ngIf="changeForm.get('password').hasError('maxlength')
                    && changeForm.get('password').touched">Password cannot exceed 8 characteres
                    </div>
                    
                </div>
                    
                <!-- Confirm password -->

                <div class="form-group">
                    <label>ConfirmPassword</label>
                    <input type="password"
                    [ngClass]="{'is-invalid': changeForm.get('confirmPassword').errors
                    && changeForm.get('confirmPassword').touched
                    || changeForm.get('confirmPassword').touched 
                    && changeForm.hasError('mismatch')}"
                    class="form-control" placeholder="confirm Password" formControlName="confirmPassword">
                
                    <div class="invalid-feedback" 
                    *ngIf="changeForm.get('confirmPassword').hasError('required')
                    && changeForm.get('confirmPassword').touched">Password is required
                    </div>
                
                    <div class="invalid-feedback" 
                    *ngIf="changeForm.hasError('mismatch')
                    && changeForm.get('confirmPassword').touched">Password must match
                    </div>
                
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-success mr-2" type="submit" [disabled]="!changeForm.valid">Update Password</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</body>
</html>