<!DOCTYPE html>
<html lang="en">

<body class="bg-light">
    <div class="container">
        <div class="py-5">
            <div class="input-group">
                <a class="btn btn-danger mr-auto" [routerLink]="['/OrderAdmin']">Back</a>
              </div>
            <h2 style="text-align: center;">Check Order</h2>
        </div>
      </div>
      <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table-hover" *ngIf="orderDetails">
                        <caption>List of orders</caption>
                        <thead>
                          <tr class="table-active">
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let o of orderDetails">
                            <td>{{o.nameTabac}}</td>
                            <td>{{o.category == 1?"Cigare":"Cigarette"}}</td>
                            <td>{{o.quantity | number}}</td>
                            <td>{{o.quantity * o.price | number}}</td>
                            <td>
                              <input class="btn btn-danger" type="button" id="flexCheckDefault" (click) ="delete(o.id)" value="Remove">
                            </td>
                          </tr>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Total</th>
                            <th scope="col">{{total | number}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
</body>
</html>